@font-face {
    font-family: 'Roboto-LightItalic';
    src: url('fonts/Roboto-LightItalic.eot');
    src: url('fonts/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Roboto-LightItalic.woff2') format('woff2'),
        url('fonts/Roboto-LightItalic.woff') format('woff'),
        url('fonts/Roboto-LightItalic.ttf') format('truetype'),
        url('fonts/Roboto-LightItalic.svg#Roboto-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('fonts/Roboto-Bold.eot');
    src: url('fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Rfonts/oboto-Bold.woff2') format('woff2'),
        url('fonts/Roboto-Bold.woff') format('woff'),
        url('fonts/Roboto-Bold.ttf') format('truetype'),
        url('fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-ThinItalic';
    src: url('fonts/Roboto-ThinItalic.eot');
    src: url('fonts/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Roboto-ThinItalic.woff2') format('woff2'),
        url('fonts/Roboto-ThinItalic.woff') format('woff'),
        url('fonts/Roboto-ThinItalic.ttf') format('truetype'),
        url('fonts/Roboto-ThinItalic.svg#Roboto-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('fonts/Roboto-Light.eot');
    src: url('fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Roboto-Light.woff2') format('woff2'),
        url('fonts/Roboto-Light.woff') format('woff'),
        url('fonts/Roboto-Light.ttf') format('truetype'),
        url('fonts/Roboto-Light.svg#Roboto-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-BoldItalic';
    src: url('fonts/Roboto-BoldItalic.eot');
    src: url('fonts/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Roboto-BoldItalic.woff2') format('woff2'),
        url('fonts/Roboto-BoldItalic.woff') format('woff'),
        url('fonts/Roboto-BoldItalic.ttf') format('truetype'),
        url('fonts/Roboto-BoldItalic.svg#Roboto-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto-Black';
    src: url('fonts/Roboto-Black.eot');
    src: url('fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/Roboto-Black.woff2') format('woff2'),
        url('fonts/Roboto-Black.woff') format('woff'),
        url('fonts/Roboto-Black.ttf') format('truetype'),
        url('fonts/Roboto-Black.svg#Roboto-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-BlackItalic';
    src: url('fonts/Roboto-BlackItalic.eot');
    src: url('fonts/Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Roboto-BlackItalic.woff2') format('woff2'),
        url('fonts/Roboto-BlackItalic.woff') format('woff'),
        url('fonts/Roboto-BlackItalic.ttf') format('truetype'),
        url('fonts/Roboto-BlackItalic.svg#Roboto-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto-Thin';
    src: url('fonts/Roboto-Thin.eot');
    src: url('fonts/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
        url('fonts/Roboto-Thin.woff2') format('woff2'),
        url('fonts/Roboto-Thin.woff') format('woff'),
        url('fonts/Roboto-Thin.ttf') format('truetype'),
        url('fonts/Roboto-Thin.svg#Roboto-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Italic';
    src: url('fonts/Roboto-Italic.eot');
    src: url('fonts/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Roboto-Italic.woff2') format('woff2'),
        url('fonts/Roboto-Italic.woff') format('woff'),
        url('fonts/Roboto-Italic.ttf') format('truetype'),
        url('fonts/Roboto-Italic.svg#Roboto-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('fonts/Roboto-Regular.eot');
    src: url('fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Roboto-Regular.woff2') format('woff2'),
        url('fonts/Roboto-Regular.woff') format('woff'),
        url('fonts/Roboto-Regular.ttf') format('truetype'),
        url('fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {100
    src: url('fonts/fonts/Roboto-MediumItalic.eot');
    src: url('fonts/fonts/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/fonts/Roboto-MediumItalic.woff2') format('woff2'),
        url('fonts/fonts/Roboto-MediumItalic.woff') format('woff'),
        url('fonts/fonts/Roboto-MediumItalic.ttf') format('truetype'),
        url('fonts/fonts/Roboto-MediumItalic.svg#Roboto-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('fonts/Roboto-Medium.eot');
    src: url('fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Roboto-Medium.woff2') format('woff2'),
        url('fonts/Roboto-Medium.woff') format('woff'),
        url('fonts/Roboto-Medium.ttf') format('truetype'),
        url('fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}
body{
    font-family: 'Roboto-Regular' !important;
    background-color: #f0f6ff;
}
h1,h2,h3,h4,h5,h6{
    margin: 10px 0;
}
aside{
    float: left;
}
a:hover{
    text-decoration: none;
}
a:focus,a:active{
    outline: none;
}
#sidebar{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
}

/*main container*/
.main-container{
    width: calc(100% - 80px);
    float: right;
}
.open-menu{
    width: calc(100% - 250px);
}
.menu-icon-main{
    background-color: #fff;
    border:0;
    padding: 0;
    border-radius: 50px;
    box-shadow: 0 10px 40px 0 rgba(18,106,211,.07), 0 2px 9px 0 rgba(18,106,211,.06);
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.menu-icon-main:focus{
    outline: none;
}
.menu-icon-main img{
    width: 35px;
    height: 35px;
    
}
.main-haeder{
    width: 100%;
    float: left;
    background-color: #fff;
    padding: 10px 15px;
    box-shadow: 0 10px 40px 0 rgba(18,106,211,.07), 0 2px 9px 0 rgba(18,106,211,.06);
}
label{
    margin-bottom: 0;
}
.mdl-textfield{
    padding: 7px 0 !important;
}
.mdl-textfield__label{
    top: 10px !important;
}
.mdl-textfield__label:after{
    bottom: 8px !important;
    height:1px !important;
    background-color:#3f51b5;
}
.mdl-textfield--floating-label.is-focused .mdl-textfield__label, .mdl-textfield--floating-label.is-dirty .mdl-textfield__label, .mdl-textfield--floating-label.has-placeholder .mdl-textfield__label{
    top:-5px !important;
    color: #3f51b5 !important;
}
.search-bar .mdl-textfield{
    width: 100% !important;
}
.dropdown span{
    cursor: pointer;
}
.dropdown span svg{
    width: 16px !important;
    height: 16px !important;
    margin-top: 12px;
    float: right;
    padding-left: 5px;
}
.drop-menu a{
    font-size: 14px;
    color: #575757;
    padding-top: 10px;
    padding-bottom: 10px;
}   
.drop-menu a svg{
    padding-right: 5px;
    width: 18px !important;
    

}

/*profile picture*/
.profile-picture{
    width: auto;
    float: left;
}
.profile-picture .por-img{
    width: 60px;
    height: 40px;
    float: right;
}
.profile-picture .por-img img.pro-img-main{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}


/*order-box-section*/
.main-order-section{
    width: 100%;
    float: left;
    padding: 20px 5px;
}
.com-box-shodow{
    box-shadow: 0 10px 40px 0 rgba(18,106,211,.07), 0 2px 9px 0 rgba(18,106,211,.06);
}
.main-boxes{
    overflow: hidden;
    width: 100%;
    float: left;
    position: relative;
    padding: 0 15px
}
.order-box-content{
    width: 100%;
    float: left;
}
.order-box-content h2{
    color: #3f51b5;
    font-size: 32px;
    padding: 5px 0;
    margin:10px 0;
    border-bottom: 1px solid rgba(234,243,253,.9);
}
.order-box-content p{
    font-size: 14px;
    color: #575757;
    margin-bottom: 6px;
}
.icon-new{
    position: absolute;
    top: -20px;
    right: -20px;
    background-color: rgba(63,81,181,1);
    height: 70px;
    width: 70px;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
}
/*.main-order-section .col-lg-12 .col-lg-4:nth-child(1n+2) .main-boxes .icon-new{
    background-color: rgba(81,181,63,1);
}
.main-order-section .col-lg-12 .col-lg-4:nth-child(1n+3) .main-boxes .icon-new{
    background-color: rgba(255,58,129,1);
}*/
/*.main-order-section .col-lg-12 .col-lg-4:nth-child(1n+2) .main-boxes .icon-new{
    background-color: rgba(81,181,63,1);
}*/
/*.right-side-order .col-lg-12:nth-child(3n+2) .main-boxes .icon-new{
    background-color: rgba(81,181,63,1);
}
.right-side-order .col-lg-12:nth-child(3n+3) .main-boxes .icon-new{
    background-color: rgba(255,58,129,1);
}
.right-side-order .col-lg-12:last-child{
    margin-bottom: 0;
}*/


.icon-new svg{
    color: #fff !important;
    line-height: 40px;
    font-size: 20px;
    position: relative;
    top: 30px;
    left: -8px;
}
.al{
    display: table;
    height: 100%;
    width:100%;
}
.alm{
    width: 100%;
    height: 100%;
    vertical-align: middle;
    display: table-cell;
}
.chart-section{
    width: 100%;
    float: left;
    padding: 20px 0;
}
.canvasjs-chart-credit{
    display: none;
}
.order-income-cart{
    width: 100%;
    float: left;
}
.order-cchar-box{
    width: 100%;
    float: left;
    height: 400px;
}

.order-cchar-box h5{
    color: #3f51b5;
    font-size: 28px;
    padding: 5px 15px 10px;
    margin: 10px 0;
    border-bottom: 1px solid rgba(234,243,253,.9);
    text-align: center;
}
.char-box-new{
    height: calc(400px - 64px);
    text-align: center;
}
.graph-round{
    width: 100%;
    float: left;
    text-align: center;
}
.graph-round svg{
    margin:0 auto;
    display: inline-block;
}
.graph-detail{
    width: 100%;
    float: left;
    padding-top: 10px;
}
.graph-detail h3{
    font-size: 28px;
    margin: 0;
    line-height: 33px;
}
.order-cchar-box span{
    font-size: 14px;
    color: #575757;
    margin-bottom: 6px;
}
.char-box-new{
    width: 100%;
    float: left;
    border-right: 1px solid rgba(234,243,253,.9);
}
.order-cchar-box .char-box-new:last-child{  
    border-right: 0;
}
.p-l-0{
    padding-left: 0 !important;
}
.p-r-0{
    padding-right: 0 !important;
}
.p-t-10{
    padding-top: 10px;
}
.m-b-10{
    margin-bottom: 15px;
}
.m-b-15{
    margin-bottom: 15px;
}
.m-b-20{
    margin-bottom: 20px;
}
.m-b-30{
    margin-bottom: 30px;   
}
.m-r-10{
    margin-right: 15px;
}
.m-r-15{
    margin-right: 15px;
}
.m-r-20{
    margin-right: 20px;
}
.m-r-30{
    margin-right: 30px;   
}





/*catelouge page*/
.main-content-box{
    width: 100%;
    overflow: hidden;
    transition: all 0.5s;
}
.main-content-box:hover{
    box-shadow: 0 10px 40px 0 rgba(18,106,211,.1), 0 5px 20px 0 rgba(18,106,211,.1);
}
.main-pro-img{
    width: 100%;
    float: left;
    position: relative;
}
.main-pro-img:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom:0;
    right: 0;
    background-color: rgba(255,255,255,0.2);
    filter: blur(5px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}
.main-pro-img img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: all 0.5s;
}
.pro-code{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(255,58,129,1);
    padding: 5px 15px;
}
.pro-code h6{
    font-size: 14px;
    color: #575757;
    margin-bottom: 0px;   
    margin-top: 0;
    color: #fff;
}
.main-content-box:hover .pro-cat-view{
    opacity: 1;
    visibility: visible;
}
.main-content-box:hover .main-pro-img:before{
    opacity: 1;
    visibility: visible;   
}
.main-content-box:hover img{
    filter: blur(2px);
}
.pro-cat-view{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}
.pro-cat-view a{
    font-size: 14px;
    border-radius: 50px;
    color: #fff;
    background-color: #3f51b5;
    margin-top: 10px;
    padding: 10px 35px;
    transition: all 0.4s;
    display: inline-block;
}
.pro-cat-view a:hover{
    box-shadow: 0 10px 40px 0 rgba(18,106,211,.07), 0 2px 9px 0 rgba(18,106,211,.06);
color: #3f51b5;
background-color: #fff;
}
.pro-detail{
    width: 100%;
    float: left;
    padding: 20px;
    text-align: left;
}
.pro-detail h5{
    font-size: 24px;
    font-family: 'Roboto-Medium';
    color: #3f51b5;
    margin:0;
    line-height: 30px;
    width: 100%;
    white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;
}
.pro-detail p{
    font-size: 14px;
    color: #575757;
    margin-bottom: 6px;
    margin-top: 10px;
    line-height: 18px;

}
.pro-detail a{
    font-size: 14px;
    border-radius: 50px;
    color: #fff;
    background-color: #3f51b5;
    margin-top: 10px;
    padding: 10px 35px;
    float: left;
    transition: all 0.4s;
}
.pro-detail a:hover{
    box-shadow: 0 10px 40px 0 rgba(18,106,211,.07), 0 2px 9px 0 rgba(18,106,211,.06);
    color: #3f51b5;
    background-color:#fff;
}
.nav-pills{
    width: auto;
    display: inline-block;
    background-color: #3f51b5;
    padding: 0px;
    border-radius: 50px;
    box-shadow: 0 10px 40px 0 rgba(18,106,211,.07), 0 2px 9px 0 rgba(18,106,211,.06);
}
.nav-pills li{
    float: left;
}
.nav-pills li a{
    font-size: 14px;
    border-radius: 50px !important;
    color: #fff;
    background-color: #3f51b5 !important;
    padding: 10px 35px;
    float: left;
    transition: all 0.4s;
    border:1px solid #3f51b5;
}
.nav-pills li a.active{
    background-color: #fff !important;
    color: #3f51b5 !important;
    border:1px solid #fff;
}
.catalouge-list{
    width: 100%;
    float: left;
    text-align: center;   
    position: relative;
}



/*order page*/
.order-main-box{
    width: 100%;
    float: left;
    padding: 7px 0 0;
}

.order-top-bar{
    width: 100%;
    float: left;
    border-bottom: 1px solid rgba(234,243,253,.9);
    padding-bottom: 10px;
}
.order-id{
    width: 100%;
    float: left;
    text-align: left;
}
.order-id h5{
    font-size: 14px;
    color: #575757;
    margin-bottom: 6px;
    margin-top: 16px;
    line-height: 18px;
    padding-left: 10PX;
    float: left;

}
.order-id h5 span{
    font-weight: bold;
}
.order-id h2{
    font-size: 20px;
    color: #3f51b5;
    float: left;
    margin:0;
    font-family: 'Roboto-Medium';
}
.date-formate{
    width: auto;
    float: left;
    padding:11px 10px 0;
}
.date-formate svg{
    float: left;
    color: #3f51b5;
    margin-top: 2px;
}
.date-formate p{
     font-size: 14px;
    color: #575757;
    line-height: 18px;
    float: left;
    padding-left: 8px;
    font-weight: bold;
    margin-bottom: 0;
}
.order-detail{
    float: left;
    width: 100%;
    padding: 15px;
    background-color: #fafafa;
    border-bottom: 1px solid rgba(234,243,253,.95);
}
.order-detail:last-child{
    border-bottom: 0;
}
.order-pro-img{
    width: 200px;
    float: left;
}
.order-pro-img img{
    width: 100%;
    height: 112px;
    object-fit: cover;
}
.order-pro-info{
    float: right;
    text-align: left;
    width:calc(100% - 220px);
    position: relative;
}
.order-pro-info h5{
    font-size: 20px;
    font-family: 'Roboto-Medium';
    color: #3f51b5;
    margin: 0;
    line-height: 26px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}
.order-pro-info p{
    font-size: 14px;
    color: #575757;
    margin-bottom: 6px;
    margin-top: 10px;
    line-height: 18px;
}
.order-pro-info p span{
    font-weight: bold;
    color: rgba(81,181,63,1);
    padding-right: 5px;
    font-family: "Roboto-Italic";
}
.order-prise{
    float: right;
    text-align: right;
    position: absolute;
    right: 0;
    bottom: 0;
}
.order-prise h2{
    font-size: 22px;
    margin: 0;
    line-height: 33px;
}
.all-order-total{
    width: 100%;
    float: left;
    padding: 15px 15px;
}
.all-order-total h1{
     font-size: 26px;
    font-family: 'Roboto-Regular';
    color: #3f51b5;
    margin: 0;
    line-height: 26px;
    padding-top: 9px;
}
.placeorder-btn{
    position: absolute;
    top: 0;
    right: 0;
}
.order-btn{
    width: auto;
    float: left;
}
.order-btn a{
    background-color: #ff3a81;
    color: #fff;
    font-family: 'Roboto-Regular';
    font-size: 14px;
    float: left;
    padding: 13px 40px;
    border-radius: 50px; 
    box-shadow: 0 10px 40px 0 rgba(255,58,129,.07), 0 2px 9px 0 rgba(255,58,129,.06);
    transition: all 0.5s;
}
.order-btn a:hover{
    text-decoration: none;
    background-color: #fff;
    color: #ff3a81;
}



/*add vender*/
.vender-list-top-add-btn{
    width: 100%;
    float: left;
    position: relative;
    height: 46px;
    margin-bottom: 20px;
}
.vender-list-top-add-btn h1{
    font-size: 26px;
    color: #161931;
    margin:0;
    padding: 0 15px;
    font-family: 'Roboto-Medium';
}
.main-vendor-box{
    width: 100%;
}
.vendor-img{
    width: 80px;
    float: left;
    text-align: center;
    padding: 15px 0;
    position: relative;
    
}
.vendor-image{
    width: 70px;
    height: 70px;
    position: relative;
    display: inline-block;
}
.vendor-image img{
    width: 60px;
    height: 60px;
    object-fit: contain;
}
.vender-detail{
    width: calc(100% - 80px);
    float: left;
    padding: 11px 20px;
    text-align: left;
    border-left: 1px solid rgba(234,243,253,.9);
    position: relative;
}
.vender-detail a.vender-name{
    font-size: 16px;
    font-family: 'Roboto-Medium';
    color: #3f51b5;
    margin: 0;
    line-height: 21px;
    width: 94%;
    float: left;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
}
.vender-detail p{
    font-size: 14px;
    color: #575757;
    margin-bottom: 4px;
    margin-top: 4px;
    line-height: 18px;
    width: 100%;
    float: left;
}
.vender-list-mew{
    width: 100%;
    float: left;
}
.vender-detail a.vender-email{
    font-size: 14px;
    color: #575757;
    line-height: 18px;
    width: 100%;
    float: left;
    font-family: 'Roboto-BoldItalic';
}
.location-name{
    position: absolute;
    top: 60px;
    right: 122px;
}
.location-name svg{
    font-size: 20px;
    color: #c0c0c0;
    margin-bottom: 0px;
    margin-top: 0;
}

.getmdl-select .mdl-menu__container{
    width: 100% !important;
}
.getmdl-select .mdl-menu__container ul{
    width: 100%;
}
.upload-satus{
    float: left;
}
.upload-satus a{
    background-color: #ff3a81;
    color: #fff;
    font-family: 'Roboto-Regular';
    font-size: 14px;
    float: left;
    padding: 10px 20px;
    border-radius: 50px;
    box-shadow: 0 10px 40px 0 rgba(255,58,129,.07), 0 2px 9px 0 rgba(255,58,129,.06);
    transition: all 0.5s;
}
.upload-satus a:hover{
    text-decoration: none;
    background-color: #fff;
    color: #ff3a81;
}
.main-gender-grp{
    width: 100%;
    float: left;
}
.main-gender-grp label{
    font-size: 14px;

}  
.main-gender-grp .mdl-radio{
    padding-right: 10px;
}
.left-lebel{
    padding-right: 10px;
}
/*invocie list*/
.dataTables_length{
    text-align: left;
    display: none;
}
.dataTables_info{
    text-align: left;
    padding-top: 20px;
}
.dataTables_filter{
    display: none;
}
thead{
    background-color: #e5eef6;
    box-shadow: 0 10px 40px 0 rgba(18,106,211,.07), 0 2px 9px 0 rgba(18,106,211,.06);
}
table{
    font-family: 'Roboto-Regular';
    background-color: #fff !important;
}
.table-striped tbody tr:nth-of-type(2n+1){
    background-color: #fafafa;
}
.table thead th{
    border-bottom: 0;
    padding: 14px 10px;
}
.table td, .table th{
    border-top: 1px solid rgba(234,243,253,.9);

}
.table td{
    padding: 14px 10px;
    vertical-align: middle;
}
.page-item.active .page-link{
    background-color: #3f51b5;
}
.page-link:hover{
    color: #3f51b5;
}
.page-link{
    color: #3f51b5;   
}
.dataTables_paginate{
    padding-top: 15px;
}
.table td a{
    float: right;
    font-size: 16px;
    color: #c0c0c0;
}
.order-td{
    width: 10%;
}
.date-td{
    width: 10%;
    min-width: 110px; 
}
.price-td{
    width: 10%;
}
.Status-td{
    width: 10%;
}
.table td img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}



/*add invoice*/
.invoice-detail-main{
    width: 100%;
    background-color: #f9fbff;
}
.top-heading-bar{
    width: 100%;
    float: left;
}
.from-logo{
    float: left;
    margin-top: 20px !important;
}
.from-logo img{
    width: 100px;
}
.from-logo p{
    float: left;
    font-size: 14px;
    color: #888;
}
.to-logo{
    float: left;
    padding-top: 20px !important;
}
.to-logo img{
    width: 100px;
}
.to-logo p{
    float: right;
    font-size: 14px;
    color: #888;
    padding-top: 10px;
}
.to-detail{
    width: 100%;
    float: right;
    text-align: right;
    padding-right: 15px;
}
.to-detail h6{
    font-family: "Roboto-Regular";
    margin-top: 0;
}
.to-to-detail{
    width: 100%;
    text-align: right;
    float: right;
}
.to-img{
    width: 100%;
}
.to-img h5{
    margin:0;
    padding: 0;
    font-family: "Roboto-Medium";
}
.invoice-info{
    width: 100%;
    float: left;
}
.frm-group{
    width: 100%;
    float: left;
    padding: 5px 0;
}
.invoice-detail{
    width: 100%;
    float: left;
    margin-top: 30px;
}
.item-name-row{
    width: 100%;
    float: left;
    border-top: 1px solid rgba(234,243,253,.9);
    border-bottom: 1px solid rgba(234,243,253,.9);
    padding: 10px 0;
}
.item-name-row p{
    margin:0;
    font-size: 14px;
}
.add-itemt-row{
    width: 100%;
    float: left;
}
.add-itemt-row .frm-group .mdl-textfield{
    width: 100%;
}
.add-btn{

}
.tex-field{
    padding-right: 15px;
}
.add-btn{
    width: 100%;
    padding-top: 14px;
}
.add-btn a{
    color: #3f51b5;
}
.calculation{
    width: 100%;
    float: left;
    padding-top: 20px;
}
.right-content{
    width: auto;
    float: right;
}
.Greand-total h5{
    font-size: 20px;
    font-family: 'Roboto-Medium';
    float: right;
    margin:5px 0 0;
}
.add-note{
    font-size: 12px;
    color: rgba(0,0,0,.26);
}
.invoice-footer .frm-group .mdl-textfield{
    width: 100%;
}
.invoice-btn a{
    background-color: #3f51b5;
    color: #fff;
    font-family: 'Roboto-Regular';
    font-size: 14px;
    float: left;
    padding: 13px 40px;
    border-radius: 50px;
    box-shadow: 0 10px 40px 0 rgba(18,106,211,.07), 0 2px 9px 0 rgba(18,106,211,.06);
    transition: all 0.5s;
    margin:0 10px;
}
.invoice-btn a:last-child{
    margin-right: 0;
}
.invoice-btn a:hover{
    text-decoration: none;
    background-color: #fff;
    color: #3f51b5;
}
.invoice-btn {
    padding-top: 20px;
}
.invoice-footer{
    width: 100%;
    float: left;
    padding-bottom: 20px;
}




/*message*/
/*massege*/
.main-msg-box{
    width: 100%;
    float: left;
    padding-top: 4px;
}
.main-masseges-section{
    width: 100%;
    float: left;
    background-color: #fff;
    margin-bottom: 20px;
    box-shadow: 0 10px 40px 0 rgba(18,106,211,.07), 0 2px 9px 0 rgba(18,106,211,.06);
}
.left-side-msg-profile{
    width: 100%;
    float: left;
    box-shadow:2px 1px 4px 1px rgba(0,0,0,0.05);
    height: calc(100vh - 185px);
    position: relative;
    z-index: 99;
}
.msg-profile-hed{
    width: 100%;
    float: left;
    padding: 18px 10px;
    background-color: #f5f5f5;
}
.msg-profile-hed h5{
    float: left;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    color: #0096ff;
    margin:0;
    font-weight: 500;
}
.edit-icon{
    width: auto;
    float: right;
}
.main-pro-content{
    width: 100%;
    float: left;
    padding:10px 0;
}
.search-bar-pro{
    width: 100%;
    float: left;
    padding: 0 10px 10px;
    border-bottom: 1px solid #ccc;
}
.search-bar-pro .search-bar{
    width: 100%;
    float: left;
    position: relative;
}
.search-bar-pro .search-bar input[type="text"]{
    width: 100%;
    float: left;
    font-size: 16px;
    color: #8b919b;
    padding-left: 0px;
    background-color: transparent;
    border:0;
    box-shadow: none;
    padding-right: 15px;
    height: 30px;
    line-height: 30px;
    font-family: "Roboto", sans-serif;
    background-image: url(../images/search.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 100% 50%;
}
.search-bar-pro .search-bar input[type="text"]:focus{
    outline: 0;
}
/*.search-bar:before{
    content: "\f002";
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
    color: #929292;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}*/
.seting-menu{
    width: auto;
    float: right;
    padding-top: 5px;
}
.seting-menu img{
    width: 23px;
    height: 23px;
}
.main-pro-section{
    width: 100%;
    float: left;
    margin-top: 12px;
    padding: 0;
    max-height: 680px;
    overflow-y: auto;
}
.profile-row{
    width: 100%;
    float: left;
    margin: 10px 0;
    position: relative;
    cursor: pointer;
    transition: all 0.5s;
    padding: 10px;
}
.profile-row:hover{
    background-color: #f1f1f1;
}
.pro-name-img{
    width: calc(100% - 64px);
    float: left;
}
.profile-pic{
    width: 63px;
    height: 63px;
    border-radius: 50%;
    float: left;
    padding: 0;
    line-height: normal;
    position: relative;
}
.profile-pic.status:before{
    content: "";
    position: absolute;
    top: 0px;
    left: 5px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #00cc33;
    border: 2px solid #fff;
}
.profile-pic.status.away:before{
    background-color: #ff9900 !important;
}
.profile-pic img{
    width: 63px;
    height: 63px;
    border-radius: 50%;
}
.pro-name-img h5{
    font-size: 16px;
    color: #333333;
    font-family: "Roboto", sans-serif;
    margin:0;
    float: left;
    padding-left: 13px;
    padding-top: 8px;
    padding-right: 10px;
    max-width:98%;
    float: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 500;
    vertical-align: top;
    padding-bottom: 2px;
}
.persone-name span{
    font-size: 11px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    background-color: #0096ff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 21px;
    display: inline-block;
    box-shadow: 0px 0px 9px 4px rgba(0,150,255,0.2);
    margin-left: 5px;
}
.pro-name-img p{
    font-size: 14px;
    color: #999999;
    padding-left: 13px;
    padding-top: 0px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    float: left;
    margin:0;
}
.right-icon-main{
    width: auto;
    float: right;
    padding-top: 13px;
    padding-right: 10px;
}
.right-icon-main a{
    float: left;
    color: #ff6600;
    font-size: 20px;
}

.persone-name{
    width: calc(100% - 63px);
    float: left;
    padding-top: 7px;
}
.right-time{
    position: absolute;
    right: 13px;
    bottom: 10px;
}
.right-time p{
    font-size: 14px;
    color: #ccc;
    font-family: "Roboto", sans-serif;
    margin:0;
}



.main-pro-content .main-pro-section .profile-row:first-child{
    margin-top: 0;
}
.chat-section{
    width: 100%;
    float: left;
    background-color: #f9f9f9;
    height: calc(100vh - 185px);
}
.chat-persone-name{
    width: 100%;
    float: left;
    padding: 18px 22px;
    border-bottom:1px solid #cecece;
}
.name-of-chat{
    width: 100%;
    float: left;
}
.name-of-chat h5{
    font-size: 18px;
    color: #8b919b;
    font-family: "Roboto", sans-serif;  
    margin:0;
    font-weight: bold;
}
.name-of-chat h6{
    font-size: 14px;
    color: #8b919b;
    font-family: "Roboto", sans-serif;  
    margin:0;
}
.menu-icon{
    width: auto;
    float: right;
    padding-top: 16px;
    position: relative;
    padding-bottom: 10px;
    overflow: hidden;
}
.menu-icon img{
    width: 28px;
    float: left;
}
.menu-icon ul{
    opacity: 0;
    visibility: hidden;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    top: 100%;
    right: 0;
    width: 250px;
    list-style: none;
    padding: 0;
    box-shadow: 0px 3px 8px 1px rgba(0,0,0,0.2);
    transition: all 0.5s;
    overflow: hidden;
    z-index: 99;
}
.menu-icon ul li a{
    font-size: 22px;
    color: #8b919b;
    line-height: 24px;
    font-family: "Roboto", sans-serif;  
    padding: 10px 15px;
    width: 100%;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    transition: all 0.5s;
    float: left;
    width: 100%;
    text-align: center;
}
.menu-icon ul li a:hover{
    color: #1ed7d1;
}
.menu-icon:hover{
    overflow: visible;
}
.menu-icon:hover ul {
    opacity: 1;
    visibility: visible;
    
}
.main-chat-blockes{
    width: 100%;
    float: left;
    padding: 12px 0 0 0;
}
.main-chat-room{
    width: 100%;
    float: left;
    height: calc(100vh - 343px);
    overflow: auto;
    padding: 10px 15px 10px 10px;
    position: relative;
    background-color: #f9f9f9;
}
.chat-all-block{
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    overflow-y: auto;
    max-height: 630px;
    padding-right: 15px;
    padding-left: 15px;
}
.chat-text-area{
    width: 100%;
    float: left;
    box-shadow: 1px -1px 5px 0 rgba(0,0,0,0.05);
    position: relative;
}
.chat-text-area textarea{
    width: 100%;
    float: left;
    border:0;
    background-color: #fff;
    height: 88px;
    padding: 10px 140px 0 24px;
    resize: none;
     font-family: "Roboto", sans-serif;  
}
.chat-meassge-row{
    width: calc(100% - 150px);
    float: right;
    padding: 5px 0;
}
.chat-msg{
    width: auto;
    float: right;
    min-width: 194px;
    background-color: #e1e9ee;
    padding: 12px 15px;
    position: relative;
    margin:0 12px;
}
.chat-msg:before{
    content: "";
    position: absolute;
    left: -15px;
    border: 8px solid #ccc;
    bottom: 0;
    border-color: transparent #e1e9ee #e1e9ee transparent;
    border-bottom-left-radius: 4px;
}
.chat-msg p{
    font-size: 14px;
    color: #373737;
    margin:0;
    font-family: "Roboto", sans-serif;  
    float: left;
}   
.time-msg{
    width: 100%;
    float: left;
    padding-top: 3px;

}
.time-msg p{
    font-size: 14px;
    color: #8b919b;
    margin:0;
    font-family: "Roboto", sans-serif;  
    float: right; 
}
.chat-room-row-left{
    float: left;
}
.chat-user-pic{
    width: 43px;
    height: 43px;
    float: left;
    overflow: hidden;
    border-radius: 50%;
    position: absolute;
    bottom: 26px;
    left: 0;
}

.chat-user-pic img{
    width: 43px;
    height: 43px;
    object-fit: cover;

}
.chat-user-info{
    width: auto;
    float: left;
    padding: 0 0 0 40px;
}
.chat-user-info h5{
    font-size: 14px;
    color: #646870;
    font-family: "Roboto", sans-serif;  
    margin-top: 0;
    font-weight: 500;
}
.chat-msg-content{
    width: auto;
    float: left;
}
.chat-msg-content .chat-msg{
    float: left;
}
.chat-msg-content .time-msg{
    width: 100%;
    float: right;
} 
.chat-msg-content .time-msg p{
    float: left;
}
.chat-room-row-left .chat-msg h6{
    position: absolute;
    bottom:-20px;
    right: 0;
    font-size: 14px;
    color: #8b919b;
    margin: 0;
    font-family: "Roboto", sans-serif;  
    
}
.chat-msd-for-client{
    margin-bottom: 20px;
}
.chat-block{
    width: auto;
    float: left;
    position: relative;
}
.chat-block.pull-right .chat-msg:before{
    left:unset;
    right: -15px;
    border-color: transparent transparent #fff #fff;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: unset;
}
.chat-block.pull-right .chat-msg{
    background-color: #fff;
    box-shadow: 4px 2px 6px 1px rgba(0,0,0,0.05);
}
.chat-block.pull-right .chat-user-pic{
    left: unset;
    right: 0;
}
.chat-block.pull-right .chat-user-info{
    padding-left: 0;
    padding-right: 40px;
}
.upload-msg-img{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #f5f5f5;
    bottom: 0;
    padding: 21px 20px 21px 20px;
}
.upload-msg-img a{
    color: #8b919b;
    font-size: 26px;
    margin:0 10px;
}
.upload-msg-img button{
    color: #fff;
    background-color: #0096ff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    display: inline-block;
    box-shadow: 0px 0px 9px 4px rgba(0,150,255,0.2);
    margin-left: 5px;
    border:0;
    font-size: 28px;
} 
.chat-msg img{
    width: 167px;
    height: 167px;
    object-fit: cover;
}
.patient-list-nav li:first-child{
    padding-left: 0;
}
.bg-info{
    background-color: #0097FF !important;
}
.invoice-main-button a button{
    transition: all 0.5s;
    border:1px solid #0097FF;
}
.invoice-main-button a button:hover{
    background-color: transparent !important;
    color: #0097FF;
}
.dropdown-menu{
    z-index: 999999;
}
.upload-control-file{
    position: relative;
    margin-top: 8px;
    float: left;
}
.upload-control-file input{
    opacity: 0;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 2px;
    left: 6px;
    right: 0;
    cursor: pointer;
    overflow: hidden;
}


/*delevery boy popup*/
.modal-header h5{
    margin-top: 0;
}
.delivery-boy-listing{
    width: 100%;
    float: left;
    border:  1px solid rgba(234,243,253,.9);

}
.first-heading{
    width: 100%;
    float: left;
    background-color: #f0f6ff;
    padding: 10px 0;
    border-bottom: 1px solid rgba(234,243,253,.9);
}
.first-heading p{
    margin-bottom: 0;
    font-family: "Roboto-Regular";
}
.list-body{
    width: 100%;
    float: left;
}
.list-body-row{
    width: 100%;
    float: left;
    border-bottom: 1px solid rgba(234,243,253,.9);
    padding: 13px 0;
}
.list-body .list-body-row:last-child{
    border-bottom: 0;
}
.profile-img img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.profile-name{
    width: 100%;
    float: left;
}
.profile-name h6{
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 9px;
    font-family: 'Roboto-Regular';
    float: left;
}
.profile-name label{
    float: right;margin-top: 10px;
}
.modal-footer{
    border-top: 0;
}
.model-btn{

}
.model-btn {
    background-color: #3f51b5;
    color: #fff;
    font-family: 'Roboto-Regular';
    font-size: 14px;
    float: left;
    padding: 9px 64px;
    border-radius: 50px;
    box-shadow: 0 10px 40px 0 rgba(18,106,211,.07), 0 2px 9px 0 rgba(18,106,211,.06);
    transition: all 0.5s;
    border:0;
    cursor: pointer;
}
.model-btn:hover {
    text-decoration: none;
    background-color: #fff;
    color: #3f51b5;
}
.page-headeing{
    position: absolute;
    top: 10px;
    left: 0;
}
.page-headeing h5{
    font-size: 26px;
    color: #161931;
    margin: 0;
    padding: 0 15px;
    font-family: 'Roboto-Medium';
}

/*vender profile*/
.main-profile-page{
    width: 100%;
}
.profile-left-side{
    width: 100%;
    float: left;
}
.profile-div{
    width: 100%;
    float: left;
}
.progile-image{
    width: 100%;
    float: left;
    background-color: #e5eef6;
    padding: 30px 0 0;
    text-align: center;
}
.profile-img-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: inline-block;
}
.profile-img-img img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.profile-img-img .add-cat-img svg{
    width: 150px !important;
    height: 150px !important;
}
.profile-img-img .add-cat-img input{
    width: 150px !important;
    height: 150px !important;
}
.vender-name{
    width: 100%;f
    float: left;
}
.vender-name h2{
    font-size: 24px;
    font-family: 'Roboto-Regular';
    color: #161931;
    margin-top: 10px;
    margin-bottom: 0;
}
.order-info-vender{
    width: 100%;
    float: left;
    padding-top: 20px;
}
.orde-detil-box{
    width: 33.33%;
    background-color: #28a745;
    float: left;
}
.orde-detil-box h5{
    font-size: 20px;
    color: #fff;
    margin:0;
    font-family: "Roboto-Medium";
    margin-top: 12px;
}
.orde-detil-box p{
    font-size: 14px;
    color: #fff;
    font-family: "Roboto-Regular";
    margin-bottom: 12px;
}
.vender-detail-info{
    width: 100%;
    float: left;
    padding-top: 20px;
}
.top-tab-penal{
    width: 100%;
    float: left;
    text-align: center;
}
.form-content{
    text-align: left;
}
.form-content .frm-group .mdl-textfield{
    width: 100%;
}
.vender-order{
    margin-top: 30px;
}

/*settings*/
.main-category-list{
    width: 100%;
    padding-top:15px;
    padding-bottom:15px;
}
.order-category-lilst-box{
    width: 100%;
    float: left;
    margin-bottom: 30px;
}
.income-tax-detail .frm-group .mdl-textfield{
    width: 100%;
}
.add-edit-btn{
    width: 100%;
    float: left;
    padding-top: 8px;
}
.add-edit-btn a{
    float: left;
    font-size: 20px;
    color: #c0c0c0;
    margin:0 6px;
}
.location-name a svg{
    transition: all 0.5s;
}
.location-name a svg:hover{
    color: #575757;
}
.add-edit-btn a:first-child{
    margin-left: 0;
}
.add-edit-btn a:last-child{
    margin-right: 0;
}
.tax-submit-btn{
    padding-right: 10px;
    padding-top: 5px;
}

/*product-list-page*/
.main-product-list{
    width: 100%;
    float: left;
}
.product-list-box{
    width: 100%;
    float: left;
}
.prodcut-category-lilst-box{
    width: 100%;
    float: left;
}
.prodcut-category-lilst-box .order-pro-img{
    width: 220px;
}
.prodcut-category-lilst-box .order-pro-info{
    width: 100%;
    padding: 15px;
}
.prodcut-category-lilst-box .order-pro-img img{
    height: 100%;
}

/*new order*/
.quantity-right-plus svg,.quantity-left-minus svg{
    width: 12px !important;
    padding-top: 3px;
}
.mdl-button--fab.mdl-button--mini-fab{
    width: 30px !important;
    height: 30px !important;
    min-width: 30px !important
}
.input-group input{
    border-color: transparent transparent #ccc transparent;
    text-align: center;
    width: 50px;
    background-color: #fafafa;
}
.input-group{
    width: 150px;
}
.map-ifream{
    width: 100%;
    float: left;
}
.map-ifream iframe{
    width: 100%;
    height: 645px;
}
.p-l-t-7{
    padding-left: 7.5px;
    padding-right: 7.4px;
}
.add-itemt-row .frm-group{
    padding: 0;
}
.add-vender-btn{
    width: 100%;
    float: left;
    padding: 20px 0;
}
.add-vernder-profile{
    height: 542px;
    padding: 0;
}
.add-cat .mdl-textfield{ 
    width: 100%;
}

/*add cat popup*/
.add-cat-img-main{
    width: 100%;
    float: left;
    text-align: center;
}
.add-cat-img{
    width: auto;
    display: inline-block;
}
.add-cat-img{
    position: relative;
}
.add-cat-img input{
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
    opacity: 0;
    overflow: hidden;
    cursor: pointer;
}
.add-cat-img svg{
    width: 70px !important;
    height: 70px !important; 
}
.edit-img{
    width: 100%;
    float: left;
    position: relative;
}
.edit-image{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin:0 auto;
    position: relative;
}
.edit-image img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
.edit-icon{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #fff;
    overflow: hidden;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.emg-edit-sec{
    width: auto;
    float: left;
    position: relative;
}
.edit-icon input{
   width: 30px;
    height: 30px;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}
.emg-edit-sec svg {
    width: 18px !important;
    height: 18px;
    margin-top: 5px;
    float: left;
    margin-left: 5px;
}
.location-name .edt-del{
    margin:0 5px;
}
.location-name .edt-del:last-child{
    margin-right: 0;
}
.brands{
    min-height: 100px;
} 
.com-box-shodow .brands a{
    width: 82%;
    margin-top:5px;
}
.profile-box-new{
    width: auto;
    float: right;
}
.packe-wight{
    display: none;
}
.packe-dimation h6{
    margin-bottom: 5px;
}
.frm-group h6{
    margin-top: 0;
    margin-bottom: 0px;
}
.cart-icon span svg{
    width: 25px !important;
    height: 25px !important;
    
    color: #575757;
}
.cart-icon{
    text-align: center;
}
.cart-icon .dropdown-toggle::after{
    content: '';
    display: none;
}
.cart-menu{
    width: 300px;
    padding: 10px;
}
.caet-row{
    width: 100%;
    float: left;
    padding: 8px 0;
    border-bottom: 1px solid rgba(234,243,253,.9);
}
.cart-img{
    width: 80px;
    float: left;
}
.cart-img img{
    width: 100%;
}
.cart-detail{
    width: calc(100% - 80px);
    padding-left: 10px;
    float: left;
}
.cart-detail a{
    font-size: 16px;
    color: #3f51b5;
    font-family: 'Roboto-Medium';
}
.cart-detail p{
    font-size: 14px;
    color: #575757;
    font-family: 'Roboto-Italic';
}
.cart-icon span{
    position: relative;
    padding: 0 10px 0 0;
}
.cart-icon span:before{
    content: attr(data-counter);
    font-size: 10px;
    color: #f0f6ff;
    background-color: #3f51b5;
    font-family: 'Roboto-Regular';
    width: 17px;
    height: 17px;
    border-radius: 50%;
    box-shadow: 0 10px 40px 0 rgba(18,106,211,.07), 0 2px 9px 0 rgba(18,106,211,.06);
    position: absolute;
    top: 4px;
    right: 0;
    line-height: 17px;
}

.noti-icon .por-img{
    width: auto !important;
}
.noti-icon span svg{
    width: 22px !important;
    height: 22px !important;
}
.bread-crum{
    width: 100%;
    float: left;
}
.breadcrumb{
    background-color: transparent;
    
    padding: 0 15px;
}
.my-profile{
    /*height: 265px;*/
}
.product-detail-popup{
    width: 100%;
    float: left;
    padding-top: 20px;
}
.product-detail-popup-main .modal-content{
    min-height: 570px;
}
.foo-btn{
    width: 100%;
    float: left;
}
.foo-btn a{
    float: left;
}
.m-l-10{
    margin-left: 10px;
}
.foo-btn-content{
    width: auto;
    float: right;
    padding-top: 10px;
}



/*login form*/
.login-form-main-content{
    width: 100%;
    float: left;
    text-align: center;
    height: 100vh;
}
.fomr-width{
    display: inline-block;
    min-width: 610px;
}
.form-back{
    width: 100%;

}
.form-back h4{
    margin:0;
    color: #3f51b5;
    text-transform: uppercase;
}
.form-back p{
    color: #575757;
    font-size: 14px;
}
.form-back .mdl-textfield{
    width: 100%;
}
.forgot-link{
    width: 100%;
    float: left;
    padding: 11px 0;
}
.foget-link a{
    font-size: 14px;
    color: #3f51b5
}
.login-foo-btn{
    width: 100%;
    float: left;
    padding-top: 14px;
    text-align: center;
}
.login-foo-btn a{
    float: none;
    display: inline-block;
    min-width: 150px;
}
.regiser-btn{
    background-color: #fff;
    color: #3f51b5;
    border:1px solid #3f51b5;
}
.regiser-btn:hover{
    border:1px solid #3f51b5;

}
.pro-detail-list{
    width: calc(100% - 220px);
    float: left;
}
.invoice-add .mdl-textfield{width: 100%;}
.mdl-checkbox{
    height: auto !important;
}


/*tean member page*/
.location-state{
    width: 100%;
    float: left;
}
.location-state-dropdown{
    width: auto;
    float: right;
}
.team-member-box{
    width: 100%;
    float: left;
}
.team-member-row{
    width: 100%;
    float: left;
}
.tem-member-box{
    display: inline-block;
    width: 161px;
}
.team-member-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 10px 40px 0 rgba(18,106,211,.07), 0 2px 9px 0 rgba(18,106,211,.06);

}
.team-member-img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.tem-poisiotn{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #3f51b5;
    padding: 4px 15px 10px;
    border-radius: 50px;
    right: 0;
}
.tem-poisiotn h5{
    font-size: 12px;
    color: #fff;
    font-family: "Roboto-Bold";
    text-transform: uppercase;
    margin:0;
}
.team-info{
    width: auto;
    display: inline-block;
}
.team-content{
    display: inline-block;
    width:auto;
    margin-top: 10px;
}
.team-content p{
    display: inline-block;
    font-size: 16px;
    font-family: 'Roboto-Regular';
    color: #575757;
}
.team-box-main{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-block;

}
.team-content h5{
    font-size: 12px;
    color: #3f51b5;
    font-family: "Roboto-Bold";
    text-transform: uppercase;
    margin:0;   
}
.dsi-none {
    display: none;
}
.dsi-block{
    display: block;
}